<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Shortcut-->
		<link rel="shortcut icon" href="/images/htmlLearn.png" />
		<!--Title-->
		<title>htmlLearn</title>
		<!--css-->
		<link rel="stylesheet" href="/static/fontawesome-free-6.4.0-web/css/all.css">
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<!--NAVIGATION BAR-->
		<div id="layout-nav" class="group">
			<div class="zone zone-nav">
				<article class="widget-menu">
					<header class="site-header">
						<!--LOGO-->
						<div class="wrap-site-logo">
							<a title="HTMLlearn" href="#">
								<img src="/images/logo.png" alt="" class="site-logo" />
								<img src="/images/logo-mobile.jpg" alt="" class="site-logo-mobile" />
							</a>
						</div>
						<!--WRAPPER RIGHT HEADER-->
						<div class="wrap-right-header">
							<label for="mobile-menu-cb" class="hamburger-button">
								<span class="hamburger-icon"><i class="fa-solid fa-bars"></i></i></span>
							</label>
							<label for="mobile-menu-cb" class="hamburger-menu-mask"></label>
							<nav class="site-menu">
								<ul class="menu menu-main-menu">
									<!--LIST MENU MAIN-->
									<li><a class="current" href="#">Learing</a></li>
									<li><a class="current" href="#">Training</a></li>
									<li><a class="current" href="#">Challenge</a></li>
									<li><a class="current" href="#">Evaluating</a></li>
									<li><a class="current" href="#">Discussion</a></li>
								</ul>
								<!--BUTTON DROPDOWN LANGUAGE-->
								<div class="dropdown dropdown-language">
									<a
										href="#"
										class="dropdown-toggle btn-language"
										title="English"
										role="button"
									>
										<img src="/images/en.jpg" alt="" class="btn-language btn-img flag" />
									</a>
									<ul class="dropdown-menu">
										<li>
											<span class="change-lang">
												<img src="/images/en.jpg" alt="" class="icon-language" />English
											</span>
										</li>
										<li>
											<span class="change-lang">
												<img src="/images/vn.png" alt="" class="icon-language" />Tiếng Việt
											</span>
										</li>
									</ul>
								</div>
							</nav>	
							<!--BUTTON LOG-->
							<ul class="site-user-menu">
								<li>
									<button id="login-header" class="btn btn-login">Login</button>
									<button class="btn btn-register">Register</button>
								</li>
							</ul>
						</div>
					</header>
				</article>
				<article class="widget-nav widget-bread-cumps">
					<div class="fb-customer-chat" attribution="setup_tool" page_id=""></div>
				</article>
			</div>
		</div>		
		<!--MAIN-->
		<main>
			<div id="layout-main" class="group">
				<div class="wrap-home-content">
					<section class="wrap-block-user">
						<div class="container">
							<h3 class="learntohtml-h3">
								Hello. Is this the first time you visit &nbsp; <span>HTML
								</span> learn? &nbsp; <button class="btn-register-second">
									start</button> &nbsp; to explore more!
							</h3>
							<div class="wrap-main-user">
								<h2 class="welcome-user">
									"Hello " <span></span>". Welcome you to HTMLlearn. Let's "
									<a
									title="start" class="open-tour">"start"</a>" to explore more! "
								</h2>
								<div class="wrap-user-profile">

								</div>
							</div>
						</div>
					</section>
					<section class="wrap-block-learning">
						<div class="container">
							<h3 class="heading-block">
								Courses
								<a href="#">See all</a>
							</h3>
							<div class="wrap-tab-control">
								<ul class="tab-control">
									<li class="courses">Suggested Courses</li>
									<li class="in-progress">In progress</li>
									<li class="completed">Completed</li>
								</ul>
								<div class="wrap-courses-tab">
									<div class="row-list-courses">
										<article class="courses-item" id="html">
											<a href="#" title="" class="wrap-courses-item">
												<div class="thumb">
													<img src="/images/html-logo.png" alt="html">
												</div>
												<div class="view-content">
													<h3 class="courses-title">HTML</h3>
													<p>Lorem adasdsadasdasd</p>
													<div class="courses-info"></div>
														<span class="lesson-count">
															<i class="icon-desktop"></i>" 32"
														</span>
														<span class="time">
															<i class="icon-block"></i>" 20:00:00"
														</span>
														<span class="btn-round" title="">Join now</span>
												</div>
											</a>
										</article>
										<article class="courses-item" id="svg">
											<a href="#" title="" class="wrap-courses-item">
												<div class="thumb">
													<img src="/images/svg-logo.png" alt="svg">
												</div>
												<div class="view-content">
													<h3 class="courses-title">SVG</h3>
													<p>Lorem adasdsadasdasd</p>
													<div class="courses-info"></div>
														<span class="lesson-count">
															<i class="icon-desktop"></i>" 32"
														</span>
														<span class="time">
															<i class="icon-block"></i>" 20:00:00"
														</span>
														<span class="btn-round" title="">Join now</span>
												</div>
											</a>
										</article>
										<article class="courses-item" id="css">
											<a href="#" title="" class="wrap-courses-item">
												<div class="thumb">
													<img src="/images/css-logo.png" alt="css">
												</div>
												<div class="view-content">
													<h3 class="courses-title">CSS</h3>
													<p>Lorem adasdsadasdasd</p>
													<div class="courses-info"></div>
														<span class="lesson-count">
															<i class="icon-desktop"></i>" 32"
														</span>
														<span class="time">
															<i class="icon-block"></i>" 20:00:00"
														</span>
														<span class="btn-round" title="">Join now</span>
												</div>
											</a>
										</article>
									</div>
								</div>
							</div>
						</div>
						

					</section>
					<section class="wrap-block-training"></section>
					<section class="wrap-block-challenge"></section>
					<section class="wrap-block-evaluating"></section>
					<section class="wrap-block-discussion"></section>
				</div>
			</div>
		</main>
		<script src="/static/fontawesome-free-6.4.0-web/js/all.js"></script>
		<script src="/static/script.js"></script>
	</body>
</html>
