<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!--Shortcut-->
		<link rel="shortcut icon" href="/images/htmlLearn.png" />
		<!--Title-->
		<title>htmlLearn</title>
		<!--css-->
		<link
			rel="stylesheet"
			href="/static/fontawesome-free-6.4.0-web/css/all.css"
		/>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<!--NAVIGATION BAR-->
		<div id="layout-nav" class="group">
			<div class="zone zone-nav">
				<article class="widget-menu">
					<header class="site-header">
						<!--LOGO-->
						<div class="wrap-site-logo">
							<a title="HTMLlearn" href="#">
								<img src="/images/logo.png" alt="" class="site-logo" />
								<img
									src="/images/logo-mobile.jpg"
									alt=""
									class="site-logo-mobile"
								/>
							</a>
						</div>
						<!--WRAPPER RIGHT HEADER-->
						<div class="wrap-right-header">
							<!--HAMBURGUR-->
							<input
								type="checkbox"
								id="mobile-menu-cb"
								class="menu-checkbox"
							/>
							<label for="mobile-menu-cb" class="hamburger-button">
								<span class="hamburger-icon" onclick="myFunction()"
									><i class="fa-solid fa-bars"></i
								></span>
							</label>
							<label for="mobile-menu-cb" class="hamburger-menu-mask"></label>
							<nav class="site-menu">
								<ul class="menu menu-main-menu" id="main-menu-dropdown">
									<!--LIST MENU MAIN-->
									<li><a class="current" href="#">Learing</a></li>
									<li><a class="current" href="#">Training</a></li>
									<li><a class="current" href="#">Challenge</a></li>
									<li><a class="current" href="#">Evaluating</a></li>
									<li><a class="current" href="#">Discussion</a></li>
								</ul>
								<!--BUTTON DROPDOWN LANGUAGE-->
								<div class="dropdown dropdown-language">
									<a
										href="#"
										class="dropdown-toggle btn-language"
										title="English"
										role="button"
									>
										<img
											src="/images/en.jpg"
											alt=""
											class="btn-language btn-img flag"
										/>
									</a>
									<ul class="dropdown-menu">
										<li>
											<span class="change-lang">
												<img
													src="/images/en.jpg"
													alt=""
													class="icon-language"
												/>English
											</span>
										</li>
										<li>
											<span class="change-lang">
												<img
													src="/images/vn.png"
													alt=""
													class="icon-language"
												/>Tiếng Việt
											</span>
										</li>
									</ul>
								</div>
							</nav>
							<!--BUTTON LOG-->
							<ul class="site-user-menu">
								<li>
									<button
										id="login-header"
										class="btn btn-login"
										onclick="document.getElementById('login').style.display='block'"
									>
										Login
									</button>
									<button class="btn btn-register">Register</button>
								</li>
							</ul>
						</div>
					</header>
				</article>
				<article class="widget-nav widget-bread-cumps">
					<div
						class="fb-customer-chat"
						attribution="setup_tool"
						page_id=""
					></div>
				</article>
			</div>
		</div>
		<!--MAIN-->
		<main>
			<div id="layout-main" class="group">
				<div class="wrap-home-content">
					<section class="wrap-block-user">
						<div class="container">
							<h4 class="welcome">
								Hello. Is this the first time you visit &nbsp;
								<span>HTML </span> learn? &nbsp;
								<button class="btn-register-second">start</button> &nbsp; to
								explore more!
							</h4>
							<div class="wrap-main-user">
								<h4 class="welcome-user">
									"Hello " <span></span>". Welcome you to HTMLlearn. Let's "
									<a title="start" class="open-tour">"start"</a>" to explore
									more! "
								</h4>
								<div class="wrap-user-profile"></div>
							</div>
						</div>
					</section>
					<section class="wrap-block-learning">
						<div class="container">
							<h3 class="heading-block">
								Courses
								<a href="#">See all</a>
							</h3>
							<div class="wrap-tab-control">
								<span class="mobile-dropdown-control">
									<select class="mobile-dropdown-control-select">
										<option value="#suggested-courses">
											Suggested courses
										</option>
										<option value="#progress">In progress</option>
										<option value="#completed">Completed</option>
									</select>
								</span>
								<ul class="cl-tab-control">
									<li class="courses"><a href="#">Suggested Courses</a></li>
									<li class="in-progress"><a href="#">In progress</a></li>
									<li class="completed"><a href="#">Completed</a></li>
								</ul>
							</div>
							<div class="wrap-course-tab">
								<div class="cl-tab-item active">
									<div class="row-list-course">
										<article class="course-item" id="html">
											<a href="#" title="" class="wrap-course-item">
												<div class="course-thumb">
													<img src="/images/html-logo.png" alt="html" />
												</div>
												<div class="view-content">
													<h3 class="course-title">HTML</h3>
													<p>
														HTML is the standard markup language for Web pages.
														With HTML you can create your own Website. HTML is
														easy to learn - You will enjoy it!
													</p>
													<div class="course-info">
														<span class="lesson-count">
															<i class="fas fa-tasks-alt"></i>&nbsp;32
														</span>
														<span class="time">
															<i class="fas fa-clock"></i>&nbsp;20:00:00
														</span>
														<span class="btn btn-round" title="join"
															><button class="join-course">
																Join now
															</button></span
														>
													</div>
												</div>
											</a>
										</article>
										<article class="course-item" id="css">
											<a href="#" title="" class="wrap-course-item">
												<div class="course-thumb">
													<img src="/images/css-logo.png" alt="css" />
												</div>
												<div class="view-content">
													<h3 class="course-title">CSS</h3>
													<p>
														CSS is the language we use to style an HTML
														document. CSS describes how HTML elements should be
														displayed. This tutorial will teach you CSS from
														basic to advanced.
													</p>
													<div class="course-info">
														<span class="lesson-count">
															<i class="fas fa-tasks-alt"></i>&nbsp;32
														</span>
														<span class="time">
															<i class="fas fa-clock"></i>&nbsp;20:00:00
														</span>
														<span class="btn-round" title=""
															><button class="join-course">
																Join now
															</button></span
														>
													</div>
												</div>
											</a>
										</article>
										<article class="course-item" id="svg">
											<a href="#" title="" class="wrap-course-item">
												<div class="course-thumb">
													<img src="/images/svg-logo.png" alt="svg" />
												</div>
												<div class="view-content">
													<h3 class="course-title">SVG</h3>
													<p>
														SVG stands for Scalable Vector Graphics. SVG defines
														vector-based graphics in XML format.
													</p>
													<div class="course-info">
														<span class="lesson-count">
															<i class="fas fa-tasks-alt"></i>&nbsp;32
														</span>
														<span class="time">
															<i class="fas fa-clock"></i>&nbsp;20:00:00
														</span>
														<span class="btn-round" title=""
															><button class="join-course">
																Join now
															</button></span
														>
													</div>
												</div>
											</a>
										</article>
										<article class="course-item" id="canvas">
											<a href="#" title="" class="wrap-course-item">
												<div class="course-thumb">
													<img src="/images/canva-logo.png" alt="canvas" />
												</div>
												<div class="view-content">
													<h3 class="course-title">Canvas</h3>
													<p>
														The HTML &lsaquo;canvas&rsaquo; element is used to
														draw graphics on a web page. The graphic above is
														created with &lsaquo;canvas&rsaquo;. It shows four
														elements: a red rectangle, a gradient rectangle, a
														multicolor rectangle, and a multicolor text.
													</p>
													<div class="course-info">
														<span class="lesson-count">
															<i class="fas fa-tasks-alt"></i>&nbsp;32
														</span>
														<span class="time">
															<i class="fas fa-clock"></i>&nbsp;20:00:00
														</span>
														<span class="btn-round" title=""
															><button class="join-course">
																Join now
															</button></span
														>
													</div>
												</div>
											</a>
										</article>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="wrap-block-training">
						<div class="container">
							<h3 class="heading-block">
								Training
								<a href="#">See all</a>
							</h3>
							<div class="wrap-tab-control">
								<ul class="cl-tab-control">
									<li class=""></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
					</section>
					<section class="wrap-block-challenge"></section>
					<section class="wrap-block-evaluating"></section>
					<section class="wrap-block-discussion"></section>
				</div>
			</div>
		</main>
		<footer id="footer" class="coodcamp-footer">
			<div class="zone zone-footer">
				<div class="main-footer">
					<div class="container">
						<div class="row-list-course">
							<div class="intro footer-column">
								<div class="logo-html-learn">
									<img src="/images/logo.png" alt="logo-html-learn" />
								</div>
								<p>
									HTMLlearn is an online platform that helps users to learn,
									practice coding skills and join the online coding contests.
								</p>
								<a href="#"><i class="fa-brands fa-square-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-square-instagram"></i></a>
								<a href="#"><i class="fa-brands fa-line"></i></a>
								<a href="#"><i class="fa-brands fa-square-twitter"></i></a>
							</div>
							<div class="link footer-column">
								<h4>LINKS</h4>
								<p>Learing</p>
								<p>Training</p>
								<p>Challenge</p>
								<p>Evaluating</p>
							</div>
							<div class="infor footer-column">
								<h4>INFORMATION</h4>
								<p>About me</p>
								<p>Terms of Use</p>
							</div>
							<div class="help footer-column">
								<h4>HELP</h4>
								<p>Help</p>
								<p>Discussion</p>
								<p>Contact me</p>
							</div>
						</div>
					</div>
				</div>
				<div class="right-reserved"></div>
			</div>
		</footer>
		<script src="/static/fontawesome-free-6.4.0-web/js/all.js"></script>
		<script src="/static/script.js"></script>

		<!--FORM LOGIN-->
		<div class="modal" id="login">
			<form action="" method="post" class="form-login">
				<div class="img-container">
					<img src="/images/person.png" alt="avt" />
				</div>
				<div class="login-container">
					<label for="username"><b>Username</b></label>
					<input
						type="text"
						placeholder="Enter username"
						name="username"
						required
					/>
					<label for="password"><b>Password</b></label>
					<input
						type="password"
						placeholder="Enter password"
						name="password"
						required
					/>

					<button type="submit">Login</button>
					<label for="">
						<input type="checkbox" checked="checked" name="remember" />Remember
						me
					</label>
				</div>
				<div class="cancel-container">
					<button
						class="cancel-button"
						onclick="document.getElementById('login').style.display='none'"
					>
						Cancel
					</button>
					<span class="forgot-pw"><a href="#">Forgot password?</a></span>
				</div>
			</form>
		</div>
	</body>
</html>
