<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<form action="" id="learnhtml">
				<div class="inputBox">
					<input type="text" id="name" placeholder="Your name..." />
				</div>
				<div class="inputBox">
					<input type="text" id="email" placeholder="Your email..." />
				</div>
				<div class="inputBox">
					<input type="text" id="password" placeholder="Your password..." />
				</div>
				<div>
					<button type="submit">Submit</button>
				</div>
			</form>
		</div>
		<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app.js"></script>
		<script src="static/firebase.js"></script>
	</body>
</html>
