
*, 
*:before,
*:after {
    box-sizing: border-box;
}
:root {
    --accent-color: #5358f0;
    --main-color: #3b3c54;
    --button-hv-bg: #4d96ff;
    --blue: #007bff;
    --pink: #e83e8c;
    --red: #dc3545;
    --green: #28a745;
    --teal: #20c997;
    --white: #fff;
    --gray: #6c757d;
    --secondary: #b6bfc7;
    --success: #45c763;
    --danger: #d85d69;
    --grey: #eee;
}
:focus {
    outline: none !important;
}
body {
    background-color: rgba(188, 188, 188, 0.1);
    position: relative;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}
body #layout-main {
    flex-grow: 1;
    padding-bottom: 60px;
}
/*NAVIGATION-BAR*/

/*SITE HEADER*/
.site-header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 rgb(216, 213, 213);
    margin: 0;
    padding: 0 5px;
    min-height: 70px; 
    position: fixed;
    top: 0;
    z-index: 111;
}
main {
    position: relative;
    top: 70px;
}
.site-header a {
    color: var(--main-color);
}
.site-header a:hover,
.site-header a:focus,
.site-header a:active {
    outline: none;
    color: var(--accent-color);
}
.site-header .dropdown-menu {
    left: auto;
    right: 0;
}
/*WRAP-SITE-LOGO*/
.site-header .wrap-site-logo {
    padding-right: 20px;
    min-width: 145px;
}
.site-header .wrap-site-logo a {
    display: block;
    text-decoration: none;
}
.site-header .wrap-site-logo img {
    max-height: 55px;
    vertical-align: middle;
}
.site-header .site-logo-mobile {
    display: none;
}
/*WRAP-RIGHT-HEADER*/
.site-header .wrap-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
}
/*SITE-MENU*/
.site-header .wrap-right-header .site-menu {
    position: relative;
    min-height: 50px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border: none;
    border-radius: 0;
    margin: 0;
}
/*MENU-MAIN-MENU*/
.site-header .wrap-right-header .site-menu .menu-main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.site-header .wrap-right-header .site-menu .menu-main-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 13px;
}
.wrap-right-header .site-menu .menu-main-menu li.current a,
.wrap-right-header .site-menu .menu-main-menu li a:hover,
.wrap-right-header .site-menu .menu-main-menu li a:active,
.wrap-right-header .site-menu .menu-main-menu li a:focus {
    color: var(--accent-color);
    text-decoration: none;
}
.wrap-right-header .site-menu .menu-main-menu li.current a:after,
.wrap-right-header .site-menu .menu-main-menu li a:hover:after,
.wrap-right-header .site-menu .menu-main-menu li a:active:after,
.wrap-right-header .site-menu .menu-main-menu li a:focus:after {
    border-color: inherit;
}
.wrap-right-header .site-menu .menu-main-menu a {
    text-decoration: none;
    transition: all .3s ease;
    color: var(--main-color);
    font-weight: 600;
    display: block;
    position: relative;
    padding: 25px 0;
    line-height: 1.33;
}
.wrap-right-header .site-menu .menu-main-menu a:after {
    transition: all .3s ease;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid transparent;
    width: 100%;
}
.site-menu .dropdown .dropdown-language .dropdown-toggle {
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    color: var(--main-color);
}
.site-menu .dropdown .dropdown-language img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.site-menu .dropdown .dropdown-language .dropdown-menu img {
    width: 25px;
    height: 25px;
}
.site-menu .dropdown .dropdown-language li {
    width: 100%;
}
.site-menu .dropdown .dropdown-language li>span {
    display: flex;
    padding: 5px 10px;
    align-items: center;
}
.site-menu .dropdown .dropdown-menu {
    position: absolute;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, .175);
    z-index: 1100;
}
.site-menu .dropdown .dropdown-menu li {
    list-style: none;
    cursor: pointer;
}
.site-menu .dropdown .dropdown-menu li:hover {
    background-color: rgba(188, 188, 188, 0.1);
}
.change-lang {
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}
.site-menu .dropdown .dropdown-menu .change-lang img {
    padding-right: 5px;
}
/*SITE-USER-MENU*/
.wrap-right-header .site-user-menu {
    margin: 0 15px 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.wrap-right-header .site-user-menu li {
    list-style: none;
    display: inline-block;
    margin: 5px 0 5px 10px;
}
.wrap-right-header .site-user-menu .btn {
    overflow: visible;
    text-transform: none;
    font-family: inherit;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 3px;
    transition: scale 0.3 ease;
    color: var(--main-color);
    background-color: var(--blue);
}
.wrap-right-header .site-user-menu .btn-login {
    background: none;
}
.wrap-right-header .site-user-menu .btn:hover {
    background-color: var(--button-hv-bg);
    scale: 1.05;
}
/* HAMBURGUR */
.wrap-right-header .menu-checkbox {
    display: none;
}
.wrap-right-header .hamburger-button {
    font-size: 20px;
    position: relative;
    transition: scale 0.3ms ease;
    cursor: pointer;
    display: none;
    color: var(--white);
    margin: 0 25px 0 25px;
    order: 99;
}   
.wrap-right-header .hamburger-menu-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: var(--white);
    transition: transform .3s ease-in-out;
    z-index: 9999;
    border-right: 1px solid var(--secondary);
}
@media (min-width: 1080px) {
    .wrap-right-header .hamburger-menu-mask{
        display: none;
    }
}
.hamburger-menu-mask .menu-main-menu .closebtn {
    font-size: 50px;
    display: block;
    float: right;
    width: 100%;
    margin: 2px 5px;
}
.hamburger-menu-mask .menu-main-menu a,
.hamburger-menu-mask .menu-main-menu li {
    list-style: none;
    text-decoration: none;
    line-height: 50px;
    font-size: large;
}
.hamburger-menu-mask .menu-main-menu li .change-lang {
    padding: 5px 0 !important;
}
@media (max-width: 1080px) {
    #layout-nav .site-header {
        background-color: var(--accent-color);
    }
    #layout-nav .site-header .site-logo {
        display: none;
    }
    #layout-nav .site-header .site-logo-mobile {
        display: block;
        z-index: 1;
    }
    #layout-nav .site-header .wrap-right-header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
    }
    #layout-nav .site-header .wrap-right-header .site-menu {
        display: none;
    }
    #layout-nav .site-header .wrap-right-header .hamburger-button {
        display: inline-block;            
    }
    #layout-nav .site-header .wrap-right-header .hamburger-button:hover {
        scale: 1.05;
        color: var(--white);
    }
    #layout-nav .site-header .wrap-right-header .site-user-menu .btn-register {
        display: none;
    }
    #layout-nav .site-header .wrap-right-header .site-user-menu .btn-login {
        background-color: var(--blue);
        color: var(--white);
    }
}
/*MAIN*/
/*WRAP-BLOCK-USER*/

.wrap-block-user {
    width: 100%;
    display: block;
    background-color: var(--accent-color);
    padding: 5px 15px 5px 20px;
    margin-bottom: 0;
}
.wrap-block-user .container .welcome {
    font-size: 19px;
    display: block;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);
}
.wrap-block-user .container .welcome span {
    color: var(--teal);
}
.wrap-block-user .container .welcome .btn-register-second {
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 550;
    color: var(--white);
    background-color: var(--red);
    transition: scale .3s ease;
}
.wrap-block-user .container .welcome .btn-register-second:hover {
    background-color: var(--danger);
    scale: 1.05;
}
.wrap-block-user .container .wrap-main-user {
    display: none;
}
/*WRAP-BLOCK-LEARNING*/
.wrap-block-learning {
    margin-bottom: 40px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.wrap-block-learning .container,
.wrap-block-training .container {
    margin: 15px auto !important;
    padding: 5px 15px 15px 15px;
    background-color: var(--white);
}
@media (min-width: 768px) {
    .container {
        width:750px
    }
}
@media (min-width: 992px) {
    .container {
        width:970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container .heading-block {
    font-size: 26px;
    color: var(--accent-color);
    line-height: 1.25;
    margin: 0 0 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.container .heading-block a {
    text-decoration: none;
    color: var(--main-color);
    float: right;
    transition: all 300ms;
    font-weight: 600;
    white-space: nowrap;
    font-size: 16px;   
    cursor: pointer;
    transform: translateY(0px);
}
@media (max-width: 993px) {
     .container .heading-block a {
        border: 1px solid;
        padding: 5px 8px;
        border-radius: 3px;
        transform: translateY(0px);
    }
    .wrap-block-training .container .exercises .html-ex {
        width: 100%;
    }
}
/*WRAP-TAB-CONTROL*/
.wrap-tab-control {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
/*MOBILE-DROPDOWN-CONTROL*/
.wrap-tab-control .mobile-dropdown-control {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}
.wrap-tab-control .mobile-dropdown-control .mobile-dropdown-control-select {
    border: none;
    -webkit-appearance: none;
    text-indent: 1px;
    padding: 10px 25px 10px 0;
    background: none;
    position: relative;
    z-index: 1;
    outline: none !important;
}
@media (min-width: 557px) {
    .wrap-tab-control .mobile-dropdown-control {
        display: none;
    }
}
.wrap-tab-control .mobile-dropdown-control .mobile-dropdown-control-select:focus,
.wrap-tab-control .mobile-dropdown-control .mobile-dropdown-control-select:active {
    outline: none;
}
.wrap-tab-control .mobile-dropdown-control .mobile-dropdown-control-select option {
    font-weight: 400;
    font-size: 16px;
}
/*CL-TAB-CONTROL*/
.wrap-tab-control .cl-tab-control {
    margin: 0 0 10px;
    padding: 0;
    width: 100%;
    display: inline-block;
}
.wrap-tab-control .cl-tab-control li {
    list-style: none;
    display: inline-block;
    margin: 0 40px 10px 0;
}
.wrap-tab-control li a {
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.3;
}
.cl-tab-control li a:after {
    bottom: 0;
    left: 0;
    width: 0;
    background: var(--accent-color);
    border-radius: 2px;
    content: '';
    height: 3px;
    display: block;
    transition: all 300ms;
    position: absolute;
}
.cl-tab-control li a:not(.disabled):hover,
.cl-tab-control li a:not(.disabled).active {
    color: var(--accent-color);
}
.cl-tab-control li a:not(.disabled):hover:after,
.cl-tab-control li a:not(.disabled).active:after {
    width: 80px;
}
@media (max-width: 557px) {
    .container .wrap-tab-control {
        width: 100%;
    }
    .container .wrap-tab-control .cl-tab-control {
        display: none;
    }
}
/*ROW-LIST-COURSE*/
.cl-tab-item {
    width: 100%;
}
.cl-tab-item .active {
    display: inline-block;
}
.row-list-course {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.row-list-course:before,
.row-list-course:after {
    display: none !important;
}
/*COURSE-ITEM*/
.row-list-course .course-item {
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 1px;
    float: left;
}
@media (min-width:577.27px) and (max-width: 768px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item {
        float: left;
        width: 50%;
    }
}
@media (min-width: 1200px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item {
        float: left;
        width: 25%;
    }
}
/*WRAP-COURSE-ITEM*/
.wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item {
    background-color: var(--white);
    box-shadow: 0 2px 10px var(--gray);
    color: var(--main-color);
    display: inline-block;
    transition: scale 0.175ms ease-in-out;
    position: relative; 
    z-index: 1;
    text-decoration: none;
}
.wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-courses-item::before,
.wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item::after,
.wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item:hover {
    color: var(--main-color);
    box-shadow: 0 10px 20px rgba(188,188,188,.8);
    z-index: 1;
    scale: 1.05;
}
/*COURSE-THUMB*/
.course-item .wrap-course-item .course-thumb {
    position: relative;
}
.wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
    width: 100%;
    transform: none !important;
    display: block;
    object-fit: cover;
    border-radius: 3px 0 0 3px;
    background-color: var(--secondary); 
    border: 0;
}
@media (max-width: 577px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 270px;
    }
}
@media (min-width: 577px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 210px;
    }
}
@media (min-width: 769px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 240px;
    }
    .wrap-block-learning .container {
        width: 750px;
    }
}
@media (min-width: 993px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 300px;
    }
    .container .heading-block a {
        transform: translateY(50px);
    }
    .wrap-block-learning .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 220px;
    }
    .wrap-block-learning .container {
        width: 1170px;
    }
}
@media (min-width: 1200px) and (max-width: 1900px) {
    .wrap-block-learning .wrap-course-tab .cl-tab-item .row-list-course .course-item .wrap-course-item .course-thumb img {
        height: 190px;
    }
}
/*VIEW-CONTENT*/
.course-item .wrap-course-item .view-content {
    padding: 15px;
}
.course-item .wrap-course-item .view-content p {
    height: 38px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.course-item .wrap-course-item .view-content .course-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.3;
    max-height: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.course-item .wrap-course-item .view-content .course-title:hover {
    color: var(--accent-color);
}
.course-item .wrap-course-item .view-content .course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 15px;
    min-height: 55px;
}
.course-item .wrap-course-item .view-content .course-info i {
    margin-right: 5px;
    font-size: 18px;
    font-weight: normal;
}
/*BTN-ROUND*/
.course-item .wrap-course-item .view-content .course-info span {
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-weight: 600;
    margin-right: 5px;
    font-size: 15px;
}
.course-item .wrap-course-item .view-content .course-info .join-course {
    padding: 10px 15px;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    cursor: pointer;
    font-weight: 550;
    font-size: 14px;
    transition: scale .3s ease;
    background-color: var(--white);
    color: var(--accent-color );
}
.course-item .wrap-course-item .view-content .course-info .join-course:hover {
    background-color: var(--button-hv-bg);
    scale: 1.05;
    color: var(--white);
}
/*WRAP_BLOCK_TRAINING*/
.wrap-block-training {
    margin-bottom: 40px;
}
.wrap-block-training .container .exercises {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 40px;
}
.exercises .html-ex {
    width: 80%;
    margin: 15px auto;
    padding: 10px 15px;
    background-color: var(--accent-color);
    border-radius: 3px;
    color: var(--white);
}
.exercises .html-ex .start-ex {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    background-color: var(--success);
    color: var(--white);
    transition: all .3s ease;
}
.start-ex:hover {
    cursor: pointer;
    box-shadow: inset  2px  2px var(--teal);
}
/*FOOTER*/
.main-footer {
    width: 100%;
    padding: 35px 0 0;
    background-color: var(--white);
    font-size: 14px;
    color: var(--main-color);
    line-height: 20px;
    border-top: 3px solid var(--secondary);
}
.main-footer .container .row-list-course {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-footer .container .row-list-course .logo-html-learn {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-footer .container .row-list-course p {
    display: block;
    font-weight: 550;
}
.main-footer .container .row-list-course a {
    font-size: 20px;    
}
.main-footer .container .row-list-course a .fa-square-facebook {
    color: var(--blue);
}
.main-footer .container .row-list-course a .fa-square-instagram {
    color: var(--pink);
}
.main-footer .container .row-list-course a .fa-line {
    color: var(--green);
}
.main-footer .container .row-list-course a .fa-square-twitter {
    color: var(--button-hv-bg);
}
.element-footer {
    margin: 0 !important; 
    padding: 5px 0;
    position: relative;
    max-height: 35px;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--white);
}
.element-footer p {
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 985.45px) {
    #tlt {
      opacity: 0;
      transform: scale(0.8);
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
    }
    #tlt.visible {
      opacity: 1;
      transform: scale(1);
    }
}
/*FORM*/
.modal {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 80px;
}
.form-login, .form-register {
    border: 3px solid whitesmoke;
    border-radius: 1%;
    margin: 0 auto;
    background-color: white;
    width: 50%;
}
.img-container img{
    width: 50%;
    border-radius: 50%;
    transform: translateX(50%);
}
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 12px 18px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(108, 108, 108);
    display: inline-block;
}
.username {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.username .show {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}
.username span {
    display: flex;
    align-items: center;
}
.username span i {
    padding-right: 5px;
}
.username span span {
    text-decoration: underline;
    cursor: pointer;
    color: #007bff;
}
.username span span:hover {
    color: red;
}
button[type=submit] {
    background-color: var(--success);
    color: white;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border: 0;
    transition: 0.3 ease;
}
.cancel-button {
    width: auto;
    padding: 8px 15px;
    background-color: red;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
}
button:hover {
    opacity: 0.7;
    color: white;
    font-weight: 550;
}
.forgot-pw {
    float: right;
}
.login-container, .register-container {
    padding: 10px 10px;
}
.cancel-container {
    margin: 5px 0;
}
/* CHATBOX */
.chatbox-wrapper {
	position: fixed;
	bottom: 32px;
	right: 32px;
	width: 64px;
	height: 64px;
    z-index: 100;
}
.chatbox-toggle {
	color: var(--button-hv-bg);
	font-size: 50px;
	cursor: pointer;
	transition:scale .2s;
	position: relative;
}
.chatbox-toggle:active {
	scale: 1.05;
}
.chatbox-message-wrapper {
    background-color: whitesmoke;
	position: absolute;
	bottom: calc(100% + 46px);
	right: 0;
	width: 420px;
	border-radius: 3px;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, .1);
	transform: scale(0);
	transition: .2s;
}
.chatbox-message-wrapper.show {
	transform: scale(1);
}
.chatbox-message-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--white);
	padding: 5px 20px;
}
.chatbox-message-profile {
	display: flex;
	align-items: center;
	grid-gap: 8px;
}
.chatbox-message-profile .profile-ai {
    display: flex;
    align-items: center;
}
.chatbox-message-image {
	width: 48px;
	height: 48px;
	object-fit: cover;
	border-radius: 50%;
}
.chatbox-message-name {
	font-size: 20px;
	font-weight: 600;
}
.chatbox-message-status {
    padding-left: 25px;
	font-size: 15px;
	color: var(--main-color);
}
.chatbox-message-content {
    margin: 0 15px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	max-height: 300px;
}
.chatbox-message-no-message {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}
.chatbox-message-bottom {
	background: var(--white);
	padding: 12px 24px;
}
.chatbox-message-form {
	display: flex;
	align-items: center;
	background: var(--grey);
	border-radius: 8px;
	padding: 8px 20px;
}
.chatbox-message-input {
	background: transparent;
	outline: none;
	border: none;
	resize: none;
	scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
	display: block;
}
.chatbox-message-submit {
	font-size: 12px;
    background-color: var(--success);
    border: none;
    border-radius: 3px;
	cursor: pointer;
    margin-left: auto;
    padding: 7px 12px;
}
.chatbox-message-submit a {
    text-decoration: none;
    font-weight: 550;
    color: var(--white);
}
@media (max-width: 550px) {
    .username span i{
        display: none;
    }
    .chatbox-wrapper {
        display: none;
    }
}

